.header-dropdown{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--color_title_light);
}

.optional-link{
    color: var(--color_title_light);
    text-decoration: none;
}

.logout{
    color: rgb(192, 72, 72);
}