.calendar {
    width: 100%;
    max-width: 480px;
    border: 1px solid #ccc;
    padding: 10px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header h2 {
    text-align: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekday{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}
