.professionals-scheduling{
    display: flex;
}

.professional-card--selectable{
    cursor: pointer;
    opacity: 0.6;
}
.professional-card--selectable:hover{
    opacity: 1;
}

.professional-card--selected{
    border: 2px solid var(--color_emphasis);
    opacity: 1;
}