.header{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 8px 32px;
    width: 100%;
    background-color: hsl(0, 0%, 7%);
    z-index: 100;
    transition: 0.2s;
}

.header--justify-end{
    justify-content: flex-end;
}

.header--space-between{
    justify-content: space-between;

}

.header--transparent{
    background-color: transparent;
}
