.dropdown{
    top: 52px;
    max-height: 280px;
    position: absolute;
    margin-top: 8px;
    background-color: #262626;
    padding: 6px 0px;
    overflow: auto;
    transform: translate3d(0, -20px, 0);
    opacity: 0;
    animation: slideIn ease-in-out .2s forwards;
}

.option--align-right{
    text-align: right;
}

.dropdown__option{
    cursor: pointer;
    display: flex;
}
.dropdown__option > *{
    padding: 8px 16px;
}
.dropdown__option:hover{
    background-color: #343434;
}
