.nav__ul{
    display: flex;
    gap: 16px;
    color: var(--color_title_light);
    list-style: none;
}

.nav__item{
    cursor: pointer;
    transition: 0.2s;
}

.nav__item:hover{
    color: var(--color_emphasis);
}

